*{
max-height:auto;
box-sizing:border-box;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {

	body{
  background-color:red;
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px)
 {
	body{
  background-color:cyan;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) 
{
	body{
  background-color:blue;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) 
{
	body{
  background-color:yellow;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) 
{
	body{
  background-color:green;
	}
}